<div *ngIf="isActive">
  <nz-input-number
    [(ngModel)]="width"
    (ngModelChange)="changeWidth()"
    [nzSize]="'large'"
    [nzMin]="100"
    [nzMax]="300"
    [nzStep]="10"
  ></nz-input-number>

  <nz-input-number
    [(ngModel)]="height"
    (ngModelChange)="changeHight()"
    [nzSize]="'large'"
    [nzMin]="100"
    [nzMax]="300"
    [nzStep]="10"
  ></nz-input-number>

  <nz-radio-group [(ngModel)]="align" (ngModelChange)="changeAlign()">
    <label nz-radio-button nzValue="right">right</label>
    <label nz-radio-button nzValue="center">center</label>
    <label nz-radio-button nzValue="left">left</label>
  </nz-radio-group>

  <nz-input-number
    [(ngModel)]="fontSize"
    (ngModelChange)="changeFontSize()"
    [nzSize]="'large'"
    [nzMin]="10"
    [nzMax]="50"
    [nzStep]="1"
  ></nz-input-number>
</div>
