<form
  nz-form
  [nzLayout]="validateForm.get('formLayout')?.value"
  [formGroup]="validateForm"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-label [nzSpan]="isHorizontal ? 4 : null">Field A</nz-form-label>
    <nz-form-control
      [nzSpan]="isHorizontal ? 14 : null"
      nzErrorTip="Please input your username!"
    >
      <input
        nz-input
        formControlName="fieldA"
        placeholder="input placeholder"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="isHorizontal ? 4 : null">Field B</nz-form-label>
    <nz-form-control
      [nzSpan]="isHorizontal ? 14 : null"
      nzErrorTip="Please input your Password!"
    >
      <input
        nz-input
        formControlName="filedB"
        placeholder="input placeholder"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      [nzSpan]="isHorizontal ? 14 : null"
      [nzOffset]="isHorizontal ? 4 : null"
    >
      <button nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
