<div>尺寸:</div>
<hr />
<nz-radio-group [(ngModel)]="size">
  <label nz-radio-button nzValue="large">Large</label>
  <label nz-radio-button nzValue="default">Default</label>
  <label nz-radio-button nzValue="small">Small</label>
</nz-radio-group>

<div>类型:</div>
<hr />
<nz-radio-group [(ngModel)]="type">
  <label nz-radio nzValue="default">default</label>
  <label nz-radio nzValue="primary">primary</label>
  <label nz-radio nzValue="dashed">dashed</label>
  <label nz-radio nzValue="danger">danger</label>
  <label nz-radio nzValue="link">link</label>
  <label nz-radio nzValue="text">text</label>
</nz-radio-group>
