<div class="container">
  <header>
    <h2 style="text-align: center">Visualization - Editor</h2>
  </header>
  <main class="container_main">
    <!-- Left sidebar -->
    <aside class="container_left">
      <!-- <div class="container-title">组件库</div> -->
      <app-widget></app-widget>
    </aside>

    <!-- Main content -->
    <article class="container_middle">
      <div class="edit-container">
        <div
          style="height: 100%; padding: 15px"
          (mousedown)="onSelectRangeStart($event)"
          (drop)="handleDrop($event)"
          (dragover)="allowDrop($event)"
        >
          <ng-template #toolContainer></ng-template>
        </div>
      </div>
    </article>

    <!-- Right sidebar -->
    <nav class="container_right">
      <ng-template #settingContainer></ng-template>
    </nav>
  </main>
  <footer>
    <div style="text-align: center; line-height: 30px">Footer</div>
  </footer>
</div>
