<div class="container">
  <header>
    <h2 style="text-align: center">可视化-编辑器</h2>
  </header>
  <main class="container_main">
    <!-- Left sidebar -->
    <aside class="container_left">
      <!-- <div class="container-title">组件库</div> -->
      <app-widget></app-widget>
    </aside>

    <!-- Main content -->
    <article class="container_middle">
      <app-edit-region></app-edit-region>
    </article>

    <!-- Right sidebar -->
    <nav class="container_right"></nav>
  </main>
  <footer>
    <div style="text-align: center; line-height: 30px">Footer</div>
  </footer>
</div>
